{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Thyroid Detection | Admin</title>
	<meta name="description" content="">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="shortcut icon" href="img/favicon.png"> -->

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>

	<!-- Syntax Highlighter -->
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shCore.css'%}" media="all">
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shThemeDefault.css'&}" media="all">

	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/font-awesome.min.css'%}">
	<!-- Normalize/Reset CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/normalize.min.css'%}">
	<!-- Main CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/main.css'%}">

	<link rel="stylesheet" href="{% static 'medico/css/bootstrap.min.css'%}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/animate.css'%}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/owl.carousel.min.css'%}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/themify-icons.css'%}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/flaticon.css'%}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/magnific-popup.css'%}">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/nice-select.css'%}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/slick.css'%}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/style.css'%}">

</head>

<body id="welcome">

	<aside class="left-sidebar">
		<div class="logo">
			<a href="#welcome">
				<h1>Admin</h1>
			</a>
		</div>
		<nav class="left-nav">
			<ul id="menu">
			<li class="current"><a href="{% url 'admin_settings' %}">Home</a></li>
				<li><a href="{% url 'admin_data_set_master_view' %}">Dataset</a></li>
				<li><a href="{% url 'admin_category_master_view' %}">Category</a></li>
				<li><a href="{% url 'admin_changepassword' %}">Change Password</a></li>
				<li><a href="{% url 'admin_home' %}">Back</a></li>
			</ul>
		</nav>
	</aside>

	<div id="main-wrapper">
		<div class="main-content">
			<section id="welcome">
				<div class="content-header">
					<h1> Change Password </h1>
				</div>


<section class="doctor_part single_page_doctor_part">
        <div class="container">
            <div class="row justify-content-center">
 <form name="frm" action="{% url 'admin_changepassword' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>  </td>
                    <td> <input type="password" name="current_password" class="form-control" placeholder="Old Password"> </td>
                </tr>
                <tr>
                    <td>  </td>
                    <td> <input type="password" name="new_password" class="form-control" placeholder="New Password"> </td>
                </tr>

                <tr>
                    <td>  </td>
                    <td> <input type="submit" name="s1" value="Login" class="btn_2" > <input type="reset" name="r1" value="Reset" class="btn_2" > </td>

                </tr>

            </table>
        </form>

 </div>
        </div>
    </section>






		<!-- Essential JavaScript Libraries
			==============================================-->
			<script type="text/javascript" src="{% static 'medico2/js/jquery-1.11.0.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/js/jquery.nav.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shCore.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushXml.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushCss.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushJScript.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushPhp.js'%}"></script>
			<script type="text/javascript">
				SyntaxHighlighter.all()
			</script>
			<script type="text/javascript" src="{% static 'medico2/js/custom.js'%}"></script>

		</body>
		</html>
