{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Thyroid Detection | Admin</title>
	<meta name="description" content="">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="shortcut icon" href="img/favicon.png"> -->

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>

	<!-- Syntax Highlighter -->
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shCore.css'%}" media="all">
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shThemeDefault.css'&}" media="all">

	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/font-awesome.min.css'%}">
	<!-- Normalize/Reset CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/normalize.min.css'%}">
	<!-- Main CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/main.css'%}">

		<link rel="stylesheet" href="{% static 'medico/css/bootstrap.min.css'%}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/animate.css'%}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/owl.carousel.min.css'%}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/themify-icons.css'%}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/flaticon.css'%}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/magnific-popup.css'%}">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/nice-select.css'%}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/slick.css'%}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/style.css'%}">

	<!-- Table CSS-->

<style type="text/css">

table {
font-family: "Lato","sans-serif";   }       /* added custom font-family  */

table.one {
margin-bottom: 3em;
border-collapse:collapse;   }

td {                            /* removed the border from the table data rows  */
text-align: center;
width: 50em;
padding: 1em;       }

th {                              /* removed the border from the table heading row  */
text-align: center;
padding: 1em;
background-color: #a87132;       /* added a red background color to the heading cells  */
color: white;       }                 /* added a white font color to the heading text */

tr {
height: 1em;    }

table tr:nth-child(even) {            /* added all even rows a #eee color  */
    background-color: #eee;     }

table tr:nth-child(odd) {            /* added all odd rows a #fff color  */
background-color:#fff;      }

</style>

</head>

<body id="welcome">

	<aside class="left-sidebar">
		<div class="logo">
			<a href="#welcome">
				<h1>Admin</h1>
			</a>
		</div>
		<nav class="left-nav">
			<ul id="menu">
				<li class="current"><a href="{% url 'admin_home'%} ">Home</a></li>
				<li><a href="{% url 'admin_settings'%}">Settings</a></li>
				<li><a href="{% url 'admin_staff_user_view'%}">Staff</a></li>
				<li><a href="{% url 'admin_user_view'%}">User</a></li>
				<li><a href="{% url 'admin_home' %}">Back</a></li>

			</ul>
		</nav>
	</aside>

	<div id="main-wrapper">
		<div class="main-content">
			<section id="welcome">
				<div class="content-header">
					<h1>Staff List</h1>
				</div>

            <div class="row justify-content-center">
					 <form name="frm" action="" method="post">
            {% csrf_token %}
         <table>
        <tr>
         <!--   <th colspan="5">ID</th> -->
            <th colspan="5">Name</th>
            <th colspan="5">Password</th>
            <th colspan="5">Action</th>
        </tr>
        {% for s in staff_list %}
        <tr class="info ">
           <!-- <td colspan="5">{{ s.id }}</td> -->
            <td colspan="5">{{ s.uname }}</td>
            <td colspan="5">{{ s.password }}</td>
            <td colspan="5"	><a class="nav-link" href="../admin_staff_user_delete?id={{s.id}}">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
        <br/>
        <a href="{% url 'admin_staff_user_add' %}">Add Staff</a></h1>
    </form>

</div>




		<!-- Essential JavaScript Libraries
			==============================================-->
			<script type="text/javascript" src="{% static 'medico2/js/jquery-1.11.0.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/js/jquery.nav.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shCore.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushXml.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushCss.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushJScript.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushPhp.js'%}"></script>
			<script type="text/javascript">
				SyntaxHighlighter.all()
			</script>
			<script type="text/javascript" src="{% static 'medico2/js/custom.js'%}"></script>

		</body>
		</html>
