{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Thyroid Detection | Staff</title>
	<meta name="description" content="">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="shortcut icon" href="img/favicon.png"> -->

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>

	<!-- Syntax Highlighter -->
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shCore.css'%}" media="all">
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shThemeDefault.css'&}" media="all">

	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/font-awesome.min.css'%}">
	<!-- Normalize/Reset CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/normalize.min.css'%}">
	<!-- Main CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/main.css'%}">

		<link rel="stylesheet" href="{% static 'medico/css/bootstrap.min.css'%}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/animate.css'%}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/owl.carousel.min.css'%}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/themify-icons.css'%}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/flaticon.css'%}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/magnific-popup.css'%}">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/nice-select.css'%}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/slick.css'%}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/style.css'%}">
	<style type="text/css">

table {
font-family: "Lato","sans-serif";   }       /* added custom font-family  */

table.one {
margin-bottom: 3em;
border-collapse:collapse;   }

td {                            /* removed the border from the table data rows  */
text-align: center;
width: 50em;
padding: 1em;       }

th {                              /* removed the border from the table heading row  */
text-align: center;
padding: 1em;
background-color: #a87132;       /* added a red background color to the heading cells  */
color: white;       }                 /* added a white font color to the heading text */

tr {
height: 1em;    }

table tr:nth-child(even) {            /* added all even rows a #eee color  */
    background-color: #eee;     }

table tr:nth-child(odd) {            /* added all odd rows a #fff color  */
background-color:#fff;      }

</style>
</head>

<body id="welcome">

	<aside class="left-sidebar">
		<div class="logo">
			<a href="#welcome">
				<h1>Staff</h1>
			</a>
		</div>
		<nav class="left-nav">
			<ul id="menu">
				<li><a href="{% url 'staff_home' %}">Home</a></li>
        		<li><a href="{% url 'staff_patient_test_master_add' %}">Test</a></li>
        		<li><a href="{% url 'staff_patient_test_master_view' %}">Test Results</a></li>
        		<li><a href="{% url 'staff_settings' %}">Settings</a></li>
        		<li><a href="{% url 'staff_login' %}">Logout</a></li>

			</ul>
		</nav>
	</aside>

	<div id="main-wrapper">
		<div class="main-content">
			<section id="welcome">
				<div class="content-header">
					<h1>Test History View</h1>
				</div>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="form-control">
 <form name="frm" action="" method="post">
            {% csrf_token %}
        <table id="myTable">
        <tr>
           <!-- <th>ID</th>-->
            <th>Name</th>
            <th>Picture</th>
            <th>Category</th>
            <th>Date/Time</th>
			<th>Action</th>

        </tr>
        {% for t in test_list %}
        <tr class="info ">
            <!--<td>{{ t.id }}</td> -->

            {% for k,value in user_list.items %}
				{% if k == t.patient_id %}
					<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
            <td><img src="../static/myapp/media/{{t.file_path }}" width="100" height="100"></td>
            <td>{{ t.result }}</td>
			<td>{{ t.dt }}/{{ t.tm }}</td>
			<td><a class="nav-link" href="../admin_staff_test_delete?id={{t.id}}">Delete</a></td>

        </tr>
        {% endfor %}
        </table>
        <br/>

    </form>







		<!-- Essential JavaScript Libraries
			==============================================-->
			<script type="text/javascript" src="{% static 'medico2/js/jquery-1.11.0.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/js/jquery.nav.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shCore.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushXml.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushCss.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushJScript.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushPhp.js'%}"></script>
			<script type="text/javascript">
				SyntaxHighlighter.all()
			</script>
			<script type="text/javascript" src="{% static 'medico2/js/custom.js'%}"></script>

				<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];

    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

		</body>
		</html>
