{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Thyroid Detection | Staff</title>
	<meta name="description" content="">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="shortcut icon" href="img/favicon.png"> -->

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>

	<!-- Syntax Highlighter -->
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shCore.css'%}" media="all">
	<link rel="stylesheet" type="text/css" href="{% static 'medico2/syntax-highlighter/styles/shThemeDefault.css'&}" media="all">

	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/font-awesome.min.css'%}">
	<!-- Normalize/Reset CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/normalize.min.css'%}">
	<!-- Main CSS-->
	<link rel="stylesheet" href="{% static 'medico2/css/main.css'%}">
	<link rel="stylesheet" href="{% static 'medico/css/bootstrap.min.css'%}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/animate.css'%}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/owl.carousel.min.css'%}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/themify-icons.css'%}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/flaticon.css'%}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/magnific-popup.css'%}">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/nice-select.css'%}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/slick.css'%}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/style.css'%}">

</head>

<body id="welcome">

	<aside class="left-sidebar">
		<div class="logo">
			<a href="#welcome">
				<h1>Staff</h1>
			</a>
		</div>
		<nav class="left-nav">
			<ul id="menu">
				<li><a href="{% url 'staff_home' %}">Home</a></li>
        		<li><a href="{% url 'staff_patient_test_master_add' %}">Test</a></li>
        		<li><a href="{% url 'staff_patient_test_master_view' %}">Test Results</a></li>
        		<li><a href="{% url 'staff_settings' %}">Settings</a></li>
        		<li><a href="{% url 'staff_login' %}">Logout</a></li>

			</ul>
		</nav>
	</aside>

	<div id="main-wrapper">
		<div class="main-content">
			<section id="welcome">
				<div class="content-header">
					<h1>Patient Test Add</h1>

				</div>
<div class="container">
            <div class="row justify-content-center">
  <form name="frm" action="{% url 'staff_patient_test_master_add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <table>
	    <tr>
	        <td>Name</td>
	        <td>
				<input type="text"  name="fname" placeholder="First name" required="required" class="form-control">
				<input type="text"  name="lname" placeholder="Last name" required="required" class="form-control">
			</td>
	    </tr>
			 <tr>
	        <td>No</td>
	        <td>
				<input type="text"  name="pno" placeholder="number" required="required" class="form-control">
			</td>
	    </tr>
			 <tr>
	        <td>Gender</td>
	        <td>
				Male<input type="radio"  name="gender" value="Male " required="required">
				Female<input type="radio"  name="gender" value="Female ">
			</td>
	    </tr>
	    <tr>
	        <td>DOB</td>
	        <td>
				<input type="date"  name="dob" placeholder="DOB" required="required" class="form-control">
			</td>
	    </tr>
	    <tr>
	        <td>Address </td>
	        <td>
                 <input type="text"  name="addr" placeholder="Street" class="form-control" required="required">
                <input type="text"  name="pincode" placeholder="pincode" class="form-control">
            </td>
	    </tr>
	    <tr>
	        <td>Contact</td>
	        <td><input type="text"  name="contact" placeholder="Enter contact" class="form-control" required="required"></td>
	    </tr>
	    <tr>
	        <td>Email</td>
	        <td><input type="email"  name="email" placeholder="Enter email id" class="form-control" required="required"></td>
	    </tr>

		<tr>
	        <td>Picture</td>
	        <td><input type="file" name="document" class="form-control" required="required"></td>
	    </tr>

	    <tr>
	        <td></td>
	        <td><button type="submit" class="btn_2" >SUBMIT</button></td>
	    </tr>
	    </table>
    </form>

</div>
        </div>
    </section>




		<!-- Essential JavaScript Libraries
			==============================================-->
			<script type="text/javascript" src="{% static 'medico2/js/jquery-1.11.0.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/js/jquery.nav.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shCore.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushXml.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushCss.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushJScript.js'%}"></script>
			<script type="text/javascript" src="{% static 'medico2/syntax-highlighter/scripts/shBrushPhp.js'%}"></script>
			<script type="text/javascript">
				SyntaxHighlighter.all()
			</script>
			<script type="text/javascript" src="{% static 'medico2/js/custom.js'%}"></script>

		</body>
		</html>
