{% load static %}

<html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thyroid Detection</title>
    <link rel="icon" href="{% static 'medico/img/favicon.png'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/bootstrap.min.css'%}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/animate.css'%}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/owl.carousel.min.css'%}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/themify-icons.css'%}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/flaticon.css'%}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/magnific-popup.css'%}">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/nice-select.css'%}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/slick.css'%}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'medico/css/style.css'%}">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="{% url 'index' %}"> <img src="{% static 'medico/img/logo.png'%}" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'admin_login' %}">Admin</a>
                                </li>

                             <!--   <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="services.html">services</a>
                                        <a class="dropdown-item" href="dep.html">depertments</a>
                                        <a class="dropdown-item" href="elements.html">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="blog.html">blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li> -->

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'staff_login' %}">Staff</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_login' %}">User</a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">about</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                      <!--  <a class="btn_2 d-none d-lg-block" href="#">HOT LINE- 09856</a> -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
  <!-- Header part end-->

  <!-- breadcrumb start-->
  <section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>contact</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">



      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
            novalidate="novalidate">
            <div class="row">
              <div class="col-12">
                <div class="form-group">

                  <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"
                    placeholder='Enter Message'></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'" placeholder='Enter your name'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address'>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Subject'" placeholder='Enter Subject'>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_1">Send Message</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Buttonwood, California.</h3>
              <p>Rosemead, CA 91770</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>00 (440) 9865 562</h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>support@colorlib.com</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->

  <!-- footer part start-->
  <footer class="footer-area">



    <div class="copyright_part">
      <div class="container">
        <div class="row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Tyroid Detection
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
          <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"> <i class="ti-twitter"></i> </a>
            <a href="#"><i class="ti-instagram"></i></a>
            <a href="#"><i class="ti-skype"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- footer part end-->

  <!-- jquery plugins here-->

  <script src="{% static 'medico/js/jquery-1.12.1.min.js'%}"></script>
    <!-- popper js -->
    <script src="{% static 'medico/js/popper.min.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'medico/js/bootstrap.min.js'&}"></script>
    <!-- owl carousel js -->
    <script src="{% static 'medico/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'medico/js/jquery.nice-select.min.js'%}"></script>
    <!-- contact js -->
    <script src="{% static 'medico/js/jquery.ajaxchimp.min.js'&}"></script>
    <script src="{% static 'medico/js/jquery.form.js'%}"></script>
    <script src="{% static 'medico/js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'medico/js/mail-script.js'%}"></script>
    <script src="{% static 'medico/js/contact.js'%}"></script>
    <!-- custom js -->
    <script src="{% static 'medico/js/custom.js'%}"></script>
</body>

</html>