
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Add</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'admin_home' %}">Home</a></li>
        <li><a href="{% url 'admin_settings' %}">Settings</a></li>
        <li><a href="{% url 'admin_staff_user_view' %}">Staff</a></li>
        <li><a href="{% url 'admin_login' %}">Logout</a></li>
        </ul>

    <h2><font color="#366092">Staff Add</font></h2>

    <form name="frm" action="{% url 'admin_staff_user_add' %}" method="post">
            {% csrf_token %}
        <table>
	        <tr>
	            <td>Name</td>
	            <td><input type="text"  name="uname" placeholder="Enter user name" required="required"></td>
	        </tr>
            <tr>
	            <td>Password</td>
	            <td><input type="password"  name="password" placeholder="Enter password" required="required"></td>
	        </tr><tr>
	            <td></td>
	            <td><button type="submit" >SUBMIT</button></td>
	        </tr>
	    </table>
    </form>
</center>
</body>
</html>