
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Set View</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'admin_settings' %}">Home</a></li>
        <li><a href="{% url 'admin_data_set_master_view' %}">Data Set</a></li>
        <li><a href="{% url 'admin_category_master_view' %}">Category</a></li>
        <li><a href="{% url 'admin_changepassword' %}">Change Password</a></li>
        <li><a href="{% url 'admin_home' %}">Back</a></li>
    </ul>

    <h2><font color="#366092">Data Set View</font></h2>

    <form name="frm" action="" method="post">
            {% csrf_token %}
        <table border="1">
        <tr>
            <th>ID</th>
            <th>Picture</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        {% for p in pic_list %}
        <tr class="info ">
            <td>{{ p.id }}</td>
            <td><img src="../static/myapp/media/{{p.pic_path }}" width="100" height="100"></td>
            {% for k,value in category_list.items %}
				{% if k == p.category_id %}
					<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
            <td><a class="nav-link" href="../admin_data_set_master_delete?id={{p.id}}">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
        <br/>
        <a href="{% url 'admin_data_set_master_add' %}">Add Data Set</a>
    </form>
</center>
</body>
</html>