
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
   <ul id="menu">
        <li><a href="{% url 'admin_home' %}">Home</a></li>
        <li><a href="{% url 'admin_settings' %}">Settings</a></li>
        <li><a href="{% url 'admin_staff_user_view' %}">Staff</a></li>
        <li><a href="{% url 'admin_login' %}">Logout</a></li>
   </ul>

    <h2><font color="#366092">Staff List</font></h2>

    <form name="frm" action="" method="post">
            {% csrf_token %}
         <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        {% for s in staff_list %}
        <tr class="info ">
            <td>{{ s.id }}</td>
            <td>{{ s.uname }}</td>
            <td>{{ s.password }}</td>
            <td><a class="nav-link" href="../admin_staff_user_delete?id={{s.id}}">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
        <br/>
        <a href="{% url 'admin_staff_user_add' %}">Add Staff</a></h1>
    </form>
</center>
</body>
</html>