
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'admin_settings' %}">Home</a></li>
        <li><a href="{% url 'admin_data_set_master_view' %}">Data Set</a></li>
        <li><a href="{% url 'admin_category_master_view' %}">Category</a></li>
        <li><a href="{% url 'admin_changepassword' %}">Change Password</a></li>
        <li><a href="{% url 'admin_home' %}">Back</a></li>
    </ul>

    <h2><font color="#366092">Category List</font></h2>

    <form name="frm" action="" method="post">
            {% csrf_token %}
         <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for c in category_list %}
        <tr class="info ">
            <td>{{ c.id }}</td>
            <td>{{ c.category_name }}</td>
            <td><a class="nav-link" href="../admin_category_master_delete?id={{c.id}}">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
        <br/>
        <a href="{% url 'admin_category_master_add' %}">Add Category</a></h1>
    </form>
</center>
</body>
</html>