
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Change Password</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'admin_settings' %}">Home</a></li>
        <li><a href="{% url 'admin_data_set_master_view' %}">Data Set</a></li>
        <li><a href="{% url 'admin_category_master_view' %}">Category</a></li>
        <li><a href="{% url 'admin_changepassword' %}">Change Password</a></li>
        <li><a href="{% url 'admin_home' %}">Back</a></li>
    </ul>
    <h2><font color="#30352f">Admin Change Password</font></h2>
    <img src="{% static 'myapp/images/person.png'%}" width="150" height="150">
    <form name="frm" action="{% url 'admin_changepassword' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td> Old </td>
                    <td> <input type="password" name="current_password" placeholder="Old Password"> </td>
                </tr>
                <tr>
                    <td>  New Password </td>
                    <td> <input type="password" name="new_password" placeholder="New Password"> </td>
                </tr>

                <tr>
                    <td>  </td>
                    <td> <input type="submit" name="s1" value="Login"> <input type="reset" name="r1" value="Reset"> </td>

                </tr>

            </table>
        </form>
</center>
</body>
</html>