
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thyroid Detection</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'admin_login' %}">Admin</a></li>
        <li><a href="{% url 'staff_login' %}">Staff</a></li>
        <li><a href="{% url 'user_login' %}">User</a></li>
    </ul>
    <form>

        <img src="{% static 'myapp/images/tr.jpg'%}"
             width="640" height="320">
    </form>
</center>
</body>
</html>