
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test History View</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'user_home' %}">Home</a></li>
        <li><a href="{% url 'patient_patient_test_master_view' %}">My Test Report</a></li>
        <li><a href="{% url 'user_settings' %}">Settings</a></li>
        <li><a href="{% url 'user_login' %}">Logout</a></li>
    </ul>
    <h2><font color="#366092">Test History View</font></h2>

    <form name="frm" action="" method="post">
            {% csrf_token %}
        <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Picture</th>
            <th>Category</th>
            <th>Date/Time</th>

        </tr>
        {% for t in test_list %}
        <tr class="info ">
            <td>{{ t.id }}</td>
            {% for k,value in user_list.items %}
				{% if k == t.patient_id %}
					<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
            <td><img src="../static/myapp/media/{{t.file_path }}" width="100" height="100"></td>
            <td>{{ t.result }}</td>
			<td>{{ t.dt }}/{{ t.tm }}</td>

        </tr>
        {% endfor %}
        </table>
        <br/>

    </form>
</center>
</body>
</html>