
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Login</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'admin_login' %}">Admin</a></li>
        <li><a href="{% url 'staff_login' %}">Staff</a></li>

        </ul>
     <h2><font color="#30352f">Staff Login</font></h2>
        <img src="{% static 'myapp/images/person.png'%}" width="150" height="150">
        <form name="frm" action="{% url 'staff_login' %}"
              method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td> User Name </td>
                    <td> <input type="text" name="uname"> </td>
                </tr>
                <tr>
                    <td>  Password </td>
                    <td> <input type="password" name="passwd"> </td>
                </tr>

                <tr>
                    <td>  </td>
                    <td> <input type="submit" name="s1" value="Login"> <input type="reset" name="r1" value="Reset"> </td>

                </tr>

            </table>
        </form>
</center>
</body>
</html>