
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Test Add</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'staff_home' %}">Home</a></li>
        <li><a href="{% url 'staff_patient_test_master_add' %}">Test</a></li>
        <li><a href="{% url 'staff_patient_test_master_view' %}">Test Results</a></li>
        <li><a href="{% url 'staff_settings' %}">Settings</a></li>
        <li><a href="{% url 'staff_login' %}">Logout</a></li>
    </ul>
    <h2><font color="#366092">Patient Test Add</font></h2>

    <form name="frm" action="{% url 'staff_patient_test_master_add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <table>
	    <tr>
	        <td>Name</td>
	        <td>
				<input type="text"  name="fname" placeholder="First name" required="required">
				<input type="text"  name="lname" placeholder="Last name" required="required">
			</td>
	    </tr>
			 <tr>
	        <td>No</td>
	        <td>
				<input type="text"  name="pno" placeholder="number" required="required">
			</td>
	    </tr>
			 <tr>
	        <td>Gender</td>
	        <td>
				Male<input type="radio"  name="gender" value="Male">
				Female<input type="radio"  name="gender" value="Female">
			</td>
	    </tr>
	    <tr>
	        <td>DOB</td>
	        <td>
				<input type="date"  name="dob" placeholder="DOB" required="required">
			</td>
	    </tr>
	    <tr>
	        <td>Address </td>
	        <td>
                <input type="text"  name="addr" placeholder="Street" ><br>
                <input type="text"  name="pincode" placeholder="pincode" ><br>
            </td>
	    </tr>
	    <tr>
	        <td>Contact</td>
	        <td><input type="text"  name="contact" placeholder="Enter contact"></td>
	    </tr>
	    <tr>
	        <td>Email</td>
	        <td><input type="email"  name="email" placeholder="Enter email id"></td>
	    </tr>

		<tr>
	        <td>Picture</td>
	        <td><input type="file" name="document"></td>
	    </tr>

	    <tr>
	        <td></td>
	        <td><button type="submit" >SUBMIT</button></td>
	    </tr>
	    </table>
    </form>
</center>
</body>
</html>