
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Test Result</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'staff_home' %}">Home</a></li>
        <li><a href="{% url 'staff_patient_test_master_add' %}">Test</a></li>
        <li><a href="{% url 'staff_patient_test_master_add' %}">Test Results</a></li>
        <li><a href="{% url 'staff_settings' %}">Settings</a></li>
        <li><a href="{% url 'staff_login' %}">Logout</a></li>
    </ul>

        <form name="frm" action="" method="post">
            {% csrf_token %}
            <h2><font color="#366092">The analysed result is {{ category_name}}</font></h2>

        </form>
</center>
</body>
</html>