
<!DOCTYPE html>
{% load static %}
<style>
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #eadb09;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #eadb09;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>
<body>

<center>
    <h1 ><font color="#30352f">Thyroid Detection</font></h1>
    <ul id="menu">
        <li><a href="{% url 'user_home' %}">Home</a></li>
        <li><a href="{% url 'patient_patient_test_master_view' %}">My Test Report</a></li>
        <li><a href="{% url 'user_settings' %}">Settings</a></li>
        <li><a href="{% url 'user_login' %}">Logout</a></li>
    </ul>
    <h2><font color="#366092">Welcome {{ uname}}</font></h2>
    <img src="{% static 'myapp/images/ec.png'%}" width="640" height="320">
    <form name="frm" action="" method="post">
        {% csrf_token %}

    </form>
</center>
</body>
</html>